:root {
  --clr-primary: rgb(231, 196, 81);
  --clr-secondary: rgba(212, 75, 212, 0.931);
  --clr-dark: #333;
  --clr-dark-700: rgba(68, 67, 67, 0.849);
  --clr-light: #fff;
}

// Color between primary and secondary are complementary
