@font-face {
  font-family: primary;
  src: url("../../../../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: primary-light;
  src: url("../../../../assets/fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: primary-thin;
  src: url("../../../../assets/fonts/Lato/Lato-Thin.ttf");
}

@font-face {
  font-family: secondary;
  src: url("../../../../assets/fonts/Oranienbaum/Oranienbaum-Regular.ttf");
}

@font-face {
  font-family: tertiary;
  src: url("../../../../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
  font-weight: 500;
}

body {
  font-family: primary, sans-serif;
  font-size: 1.125rem;
  word-spacing: 0.125rem;
  line-height: 1.6;
  color: var(--clr-dark);
}

:is(h1, h2) {
  font-family: secondary;
}

h1 {
  font-size: 3.4rem;
  font-weight: 1000;
}

h2 {
  font-size: 3rem;
  padding: 0.3em 0;
}
header {
  text-align: center;
  padding: 0 1em;
}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1em 0;
}

.font-italic {
  font-style: italic;
  font-weight: 300;
}

p {
  font-family: primary-light;
  letter-spacing: 0.3px;
  padding: 0.5em 0;
  line-height: 1.8;
  font-weight: 100;
  color: var(--clr-dark-700);
  opacity: 0.85;
}

label {
  font-size: 0.9rem;
  color: var(--clr-dark-700);
}

input {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--clr-dark-700);
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}
