@mixin flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
