@use '../abstracts/' as *;

.portfolio {
  header {
    @include flex-col-center;
    min-height: 40vh;
    margin-top: 3em;
    padding: 0 1em;

    p,
    .border-line {
      max-width: 800px;
      text-align: start;
    }

    p {
      padding-bottom: 3em;
      font-family: primary-light;
    }

    @media screen and (max-width: $screen-md) {
      margin-top: 7em;
    }
  }

  &__gallery {
    @include image-grid-container;

    .gallery-img-wrapper {
      @include flex-col-center;
      @include image-responsive;
      @include image-hover;
    }
  }
}
