@use '../abstracts/' as *;

.products__header {
  &__text-box {
    @include flex-col-center;

    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 2;
    margin: 0.5em;

    h1,
    p {
      z-index: 2;
      position: relative;
    }
  }
}

.products {
  h2 {
    text-align: center;
    margin: 0.5em 0 -1em 0em;
    font-size: 2rem;
    font-weight: 500;

    @media screen and (max-width: $screen-md) {
      margin-left: 0.6em;
      margin-bottom: -0.5em;
    }
  }
}

.products__container {
  @include image-grid-container;
  justify-content: center;

  &__image-wrapper .items {
    background-color: var(--clr-light-400);
  }

  &__image-wrapper {
    width: 25vw;
    display: flex;
    flex-direction: column;
    @include image-responsive;
    @include image-hover;

    h4 {
      font-size: 1.2rem;
      padding: 0;
    }

    @media screen and (max-width: $screen-md) {
      width: 45vw;

      h4 {
        font-size: 1.2rem;
      }
    }
  }
}

.tag {
  width: 100%;
  margin: 1em 0 0 0;
  display: flex;
  justify-content: space-between;
  color: var(--clr-dark-700);

  img {
    margin-right: 0.2em;
    margin-bottom: -0.07em;
    width: 0.4em;
    height: auto;
    transition: none;
    border: 0;
    filter: none;

    &:hover {
      transform: scale(1);
      box-shadow: none;
      border: 0;
    }
  }

  small {
    font-size: 1rem;
    font-weight: 300;
  }

  @media screen and (min-width: 1400px) {
    img {
      width: 0.5em;
    }

    small {
      font-size: 1.4rem;
    }
  }
}

.products__container__image-wrapper .favourite {
  position: absolute;
  width: 2em;
  align-self: flex-end;
  margin: 0.5em 0.5em 0 0;
  z-index: 3;
  opacity: 0.4;
  transition: none;
  border: 0;
  cursor: pointer;
  filter: none;

  &:hover {
    opacity: 1;
    transform: scale(1);
    box-shadow: none;
    border: 0;
  }

  @media screen and (max-width: $screen-md) {
    width: 1.4em;
  }
}
