@use '../abstracts/' as *;

.footer {
  @include flex-col-center;

  margin-top: auto;
  width: 100%;
  min-height: 30vh;
  padding: 2em 0.5em;
  text-align: center;
  font-size: 0.85rem;

  &__logo-container {
    margin: 1em 0;

    img {
      width: 7rem;
    }
  }

  a[type="email"]:is(:hover, :focus) {
    color: var(--clr-secondary);
    text-decoration: underline;
  }

  &__link-container {
    margin: 1em 0;

    a {
      font-size: 1.4rem;
      margin: 1em;
      line-height: 2;
      color: var(--clr-dark-700);

      &:hover,
      &:focus {
        color: var(--clr-primary);
      }

      &:active {
        color: var(--clr-secondary);
      }
    }
  }
}
