@use '../abstracts' as *;

.logo-container {
  position: absolute;
  margin: 1em 5em;
  z-index: 3;

  img {
    width: 5.5rem;
  }

  @media screen and (min-width: $screen-md) {
    &.center {
      display: none;
    }
  }

  @media screen and (max-width: $screen-md) {
    img {
      width: 4rem;
    }

    &.navbar {
      display: none;
    }
  }
}
