@use '../abstracts/' as *;

.subscribe {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: transparent;

  &__form {
    width: 50%;
    height: 60px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: $screen-md) {
      width: 80%;
      min-width: 200px;
    }
  }

  &__form input {
    outline: none;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    background: transparent;
  }

  &__form label {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--clr-dark-700);
  }

  &__form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--clr-primary);
    transform: translate(-100%);
    transition: transform 0.3s ease;
  }
}

.content-email {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}

.subscribe__form input:focus + .email-label .content-email,
.subscribe__form input:valid + .email-label .content-email {
  transform: translateY(-100%);
  color: var(--clr-dark-700);
}

.subscribe__form input:focus + .email-label::after,
.subscribe__form input:valid + .email-label::after {
  transform: translateX(0%);
}
