@use '../abstracts/' as *;

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1.5em;
  padding: 5em;

  &__card {
    border: 0.5px solid var(--clr-dark-700);
    border-radius: 1em;
    padding: 2em;
    margin: 1em 0;
    background: var(--clr-light);
    @include card-hover;

    p {
      font-style: italic;
    }

    .icon {
      position: absolute;
      color: var(--clr-secondary);
      margin-top: -1.2em;
      font-size: 4rem;
      z-index: 2;
    }
  }

  &__user-container {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--clr-dark-700);
    font-weight: 300;

    .icon-user {
      font-size: 2rem;
      color: var(--clr-dark);
      margin-right: 0.2em;
    }
  }

  .user-title {
    text-align: end;
    font-size: small;
  }

  @media screen and (max-width: $screen-lg) {
    padding: 3em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  @media screen and (max-width: $screen-md) {
    padding: 1em;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
  }
}
