@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --clr-primary: rgb(231, 196, 81);
  --clr-secondary: rgba(212, 75, 212, 0.931);
  --clr-dark: #333;
  --clr-dark-700: rgba(68, 67, 67, 0.849);
  --clr-light: #fff;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-dark);
}

h1 {
  font-size: 3rem;
}

header {
  text-align: center;
  padding: 0 1em;
}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1em 0;
}

h2 {
  font-size: 3rem;
  padding: 0.3em 0;
}

.font-italic {
  font-style: italic;
  font-weight: 300;
}

p {
  padding: 0.5em 0;
  line-height: 1.8;
  font-weight: 300;
  color: var(--clr-dark-700);
  opacity: 0.85;
}

label {
  font-size: 0.9rem;
  color: var(--clr-dark-700);
}

input {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--clr-dark-700);
}

.nav {
  position: absolute;
  right: 0;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1) 100ms;
  background: var(--clr-light);
  z-index: 9;
  text-align: center;
}
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3em 4.5em;
}
.nav__item {
  margin-bottom: 3em;
}
.nav__item.active a {
  color: var(--clr-primary);
  font-size: 1.4rem;
}
.nav__link {
  text-decoration: none;
  color: var(--clr-dark-700);
}
.nav__link:hover {
  color: var(--clr-primary);
}
.nav__link:active {
  color: var(--clr-secondary);
}
.nav__toggle {
  position: absolute;
  top: 2em;
  left: 0;
  transform: translateX(-100%);
  background: var(--clr-light);
  padding: 1em 0.5em;
  border: 0;
  border-radius: 0.25em 0 0 0.25em;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav {
    position: relative;
    width: 100%;
    background: transparent;
    box-shadow: none;
    transform: none;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 8vh;
    padding: 3em 4.5em;
  }
  .nav__item {
    margin: 0.7em 0 0.7em 2em;
  }
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2em;
  height: 2px;
  background: var(--clr-dark-700);
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 0px;
}

.hamburger::after {
  top: 0px;
}

.nav--open .nav {
  transform: translateX(0);
}

.nav__toggle {
  height: 64px;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.hamburger {
  all: unset;
  box-sizing: border-box;
  display: block;
  background: var(--clr-dark);
  border: 0px solid var(--clr-dark);
  height: 2px;
  margin: 0;
  position: relative;
  transform: rotate(0);
  transition: height 300ms ease, background 300ms ease, border 300ms ease;
  width: 40px;
}
.hamburger::before, .hamburger::after {
  all: unset;
  box-sizing: border-box;
  background: var(--clr-dark);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: rotate(0);
  transform-origin: center;
  transition: background 300ms ease;
  width: 100%;
}
.hamburger::before {
  top: -9px;
  transition: top 300ms ease 300ms, transform 300ms ease;
}
.hamburger::after {
  bottom: -9px;
  transition: bottom 300ms ease 300ms, transform 300ms ease;
}

.nav--open .hamburger {
  background: transparent;
  border: 2px solid var(--clr-primary);
  height: 40px;
  transition: background 300ms ease, height 300ms ease 300ms, margin 300ms ease, transform 500ms ease 300ms;
  width: 40px;
}
.nav--open .hamburger::before, .nav--open .hamburger::after {
  background: var(--clr-primary);
}
.nav--open .hamburger::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: top 300ms ease, transform 300ms ease 300ms;
}
.nav--open .hamburger::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
  transition: bottom 300ms ease, transform 300ms ease 300ms;
}

.body--preventScrolling {
  height: 100%;
  overflow: hidden;
}
.body--preventScrolling:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  z-index: 2;
}

.logo-container {
  position: absolute;
  margin: 1em 5em;
  z-index: 3;
}
.logo-container img {
  width: 5.5rem;
}
@media screen and (min-width: 768px) {
  .logo-container.center {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .logo-container img {
    width: 4rem;
  }
  .logo-container.navbar {
    display: none;
  }
}

section.hero,
.products-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home__hero {
  min-height: 100vh;
  background-image: url("../../../../assets/background/home-hero.jpg");
  background-position: center bottom;
}

.products-header {
  background-image: url("../../../../assets/background/products.jpg");
  min-height: 50vh;
  background-position: center left;
}
.products-header::before {
  content: "";
  background-color: rgba(236, 239, 241, 0.582);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 50vh;
}
@media screen and (max-width: 768px) {
  .products-header {
    min-height: 70vh;
  }
  .products-header::before {
    height: 70vh;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  min-height: 30vh;
  padding: 2em 0.5em;
  text-align: center;
}
.footer__logo-container {
  margin: 1em 0;
}
.footer__logo-container img {
  width: 7rem;
}
.footer__link-container {
  margin: 2em 0;
}
.footer__link-container a {
  text-decoration: none;
  margin: 1.5em;
  line-height: 2;
  color: var(--clr-dark-700);
}
.footer__link-container a:hover {
  color: var(--clr-primary);
}
.footer__link-container a:active {
  color: var(--clr-secondary);
}

.subscribe {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: transparent;
}
.subscribe__form {
  width: 50%;
  height: 60px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .subscribe__form {
    width: 80%;
    min-width: 200px;
  }
}
.subscribe__form input {
  outline: none;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  background: transparent;
}
.subscribe__form label {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--clr-dark-700);
}
.subscribe__form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--clr-primary);
  transform: translate(-100%);
  transition: transform 0.3s ease;
}

.content-email {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}

.subscribe__form input:focus + .email-label .content-email,
.subscribe__form input:valid + .email-label .content-email {
  transform: translateY(-100%);
  color: var(--clr-dark-700);
}

.subscribe__form input:focus + .email-label::after,
.subscribe__form input:valid + .email-label::after {
  transform: translateX(0%);
}

.button-action {
  margin-top: 3em;
  transition: transform, letter-spacing 400ms ease-in;
}
.button-action a {
  color: var(--clr-light);
  padding: 1em 3em;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--clr-secondary);
}
.button-action a:hover {
  background-color: var(--clr-dark-700);
  color: var(--clr-primary);
}
.button-action a:active {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
}
@media screen and (max-width: 480px) {
  .button-action a {
    padding: 1em 2em;
  }
}

.button-action:hover {
  transform: scalex(1.02);
  letter-spacing: 1px;
}

.scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 8vh;
  right: 3vw;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: var(--clr-light);
  color: #393e46;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 5%;
  opacity: 0.7;
  transition: transform 100ms ease-in;
  -webkit-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
}
.scrollToTopButton:hover {
  background-color: var(--clr-dark-700);
  color: var(--clr-primary);
}
.scrollToTopButton:active {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  transform: scale(1.02);
}

.border-line {
  width: 100%;
  border-bottom: 1px solid var(--clr-dark-700);
  opacity: 0.75;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1.5em;
  padding: 5em;
}
.testimonials__card {
  border: 0.5px solid var(--clr-dark-700);
  border-radius: 1em;
  padding: 2em;
  margin: 1em 0;
  background: var(--clr-light);
  transition: 350ms ease-in;
}
.testimonials__card:hover {
  transform: scale(1.02);
  border: 2px solid var(--clr-primary);
  -webkit-box-shadow: 0px 6px 23px 0px rgba(197, 194, 194, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(197, 194, 194, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(197, 194, 194, 0.75);
}
.testimonials__card p {
  font-style: italic;
}
.testimonials__card .icon {
  position: absolute;
  color: var(--clr-secondary);
  margin-top: -1.2em;
  font-size: 4rem;
  z-index: 2;
}
.testimonials__user-container {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--clr-dark-700);
  font-weight: 300;
}
.testimonials__user-container .icon-user {
  font-size: 2rem;
  color: var(--clr-dark);
  margin-right: 0.2em;
}
.testimonials .user-title {
  text-align: end;
  font-size: small;
}
@media screen and (max-width: 992px) {
  .testimonials {
    padding: 3em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
}
@media screen and (max-width: 768px) {
  .testimonials {
    padding: 1em;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
  }
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: var(--clr-light);
  overflow-x: hidden;
  background-image: repeating-linear-gradient(45deg, rgba(194, 194, 194, 0.1) 0px, rgba(194, 194, 194, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, white, white, white);
  background-attachment: fixed;
}

main {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
}

.home__hero header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
}
@media screen and (max-width: 768px) {
  .home__hero header {
    min-height: 70vh;
  }
}

.home__fore-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  text-align: center;
  padding: 2em 20vw;
}
@media screen and (max-width: 768px) {
  .home__fore-text {
    padding: 2em 5vw;
  }
}
.home__fore-text h4 {
  margin-bottom: 3em;
}

.home__lowerSection {
  display: flex;
  min-height: 70vh;
  margin: 6em 0;
  padding: 0 4em;
}
.home__lowerSection img {
  width: 100%;
  height: auto;
}
.home__lowerSection img {
  -webkit-filter: grayscale(40%) blur(0.4px);
  filter: grayscale(40%) blur(0.4px);
  transition: 350ms ease-in;
  border: 2px solid transparent;
}
.home__lowerSection img:hover {
  transform: scale(1.02);
  border: 2px solid var(--clr-primary);
  -webkit-box-shadow: 0px 6px 23px 0px rgba(197, 194, 194, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(197, 194, 194, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(197, 194, 194, 0.75);
  filter: none;
}
.home__lowerSection .imageContainer,
.home__lowerSection .text-box {
  flex: 0.5;
  padding: 1em;
}
.home__lowerSection.even {
  flex-direction: row-reverse;
  text-align: end;
}
@media screen and (max-width: 992px) {
  .home__lowerSection {
    flex-direction: column;
    padding: 0 2em;
  }
  .home__lowerSection.even {
    flex-direction: column;
    text-align: start;
  }
}
@media screen and (max-width: 480px) {
  .home__lowerSection {
    padding: 0;
  }
}

.portfolio header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
  margin-top: 3em;
  padding: 0 1em;
}
.portfolio header p,
.portfolio header .border-line {
  max-width: 800px;
  text-align: start;
}
.portfolio header p {
  padding-bottom: 3em;
}
@media screen and (max-width: 768px) {
  .portfolio header {
    margin-top: 7em;
  }
}
.portfolio__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1em;
  padding: 3em;
}
.portfolio__gallery .gallery-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio__gallery .gallery-img-wrapper img {
  width: 100%;
  height: auto;
}
.portfolio__gallery .gallery-img-wrapper img {
  -webkit-filter: grayscale(40%) blur(0.4px);
  filter: grayscale(40%) blur(0.4px);
  transition: 350ms ease-in;
  border: 2px solid transparent;
}
.portfolio__gallery .gallery-img-wrapper img:hover {
  transform: scale(1.02);
  border: 2px solid var(--clr-primary);
  -webkit-box-shadow: 0px 6px 23px 0px rgba(197, 194, 194, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(197, 194, 194, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(197, 194, 194, 0.75);
  filter: none;
}
@media screen and (max-width: 768px) {
  .portfolio__gallery {
    padding: 1em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
  .portfolio__gallery p {
    font-size: 0.8rem;
  }
}

.products-header__text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -90%);
  z-index: 2;
  margin: 0.5em;
}
.products-header__text-box h1,
.products-header__text-box p {
  z-index: 2;
  position: relative;
}

/*# sourceMappingURL=main.css.map */
